<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/employeeprofile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundis</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Your Are Registered as an Employee</h1>
    {% if messages %}
    <ul class="messages">
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% else %}
        <span></span>
    </ul>
    {% endif %}
    <h1>Your Details:</h1>
    <span>Employee ID: {{employee.employeeid}}</span> <br>
    <span>First Name: {{employee.firstname}}</span> <br>
    <span>Last Name: {{employee.lastname}}</span> <br>
    <span>Phone Number: {{employee.phonenumber}}</span> <br>
    <span>Email: {{employee.email}}</span> <br>
    <span>Profession: {{employee.profession}}</span> <br>
    <span>Location: {{employee.location}}</span> <br>
    <button><a href="{% url 'account:update_employee' employee.employeeid %}">Update</a></button>

    <h1>Jobs that you have Applied for</h1>
    {% for application in applications %}
    <span>Application ID: {{application.application_id}}</span> <br>
    <span>Application Date: {{application.application_date}}</span> <br>
    <span>Application Status: {{application.status}}</span> <br>
    <span>Application Proposal: {{application.proposal}}</span> <br>
    <span>Application Estimated Salary: {{application.estimated_salary}}</span>
    <!-- Update Aplication -->
    <form method="POST" action="{% url 'jobs:update_application' application.application_id %}" id="update-form-{{ application.application_id }}">
        {% csrf_token %}
        <button type="button" ><a href="{% url 'jobs:update_application' application.application_id %}">Update Application</a></button>
    </form>
    <form method="POST" action="{% url 'jobs:delete_application' application.application_id %}" id="delete-form-{{ application.application_id }}">
        {% csrf_token %}
        <button type="button" onclick="confirmDelete('{{ application.application_id }}')">Delete Application</button>
    </form>
    {% endfor %}

    <script>
        function confirmDelete(applicationId) {
            if (confirm("Are you sure you want to delete this application?")) {
                document.getElementById("delete-form-" + applicationId).submit();
            }
        }
    </script>
</body>
    {% include 'footer.html' %}
</html>