{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css'  %}">

<footer class="footer">
    <div class="footer-1">
        <span class="footer-1A"><a href="{% url 'index'%}">Fundi Wangu</a></span>
        <span class="footer-1B"><a href="{% url 'about'%}">About Us</a></span>
        <!-- <span class="footer-1C">Contact Us</span> -->
        <span class="footer-1D">Terms & Conditions</span>
    </div>
    <div class="footer-2">
        <span class="footer-2B">Facebook</span>
        <span class="footer-2C">Twitter</span>
        <span class="footer-2D">Instagram</span>
    </div>
</footer>