<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Applications</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Update Applications</h1>
    <form action="{% url 'jobs:update_application' application.application_id %}" method="POST">
        {% csrf_token %}
        <label for="proposal">Application Proposal:</label>
        <input type="text" id="proposal" name="proposal" required><br><br>
        <label for="estimated_salary">Estimated Salary:</label>
        <input type="text" id="estimated_salary" name="estimated_salary" required><br><br>
        <input type="submit" value="Update">
    </form>
    {% include 'footer.html' %}
</body>
</html>