<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/employeeprofile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundis</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Your Are Registered as an Employee</h1>
    <h2>Your Details:</h2>
    <form method="POST" action="{% url 'account:update_employee' employee.employeeid %}">
        {% csrf_token %}
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" value="{{ employee.firstname }}"><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" value="{{ employee.lastname }}"><br>

        <label for="phonenumber">Phone Number:</label>
        <input type="text" id="phonenumber" name="phonenumber" value="{{ employee.phonenumber }}"><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ employee.email }}"><br>

        <label for="profession">Profession:</label>
        <input type="text" id="profession" name="profession" value="{{ employee.profession }}"><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{ employee.location }}"><br>


        <button type="submit">Update</button>
    </form>
    {% include 'footer.html' %}
</body>
</html>
